# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
firebase/.firebaserc
firebase/firebase.json
firebase/public/assets/img/hips_logo.png
firebase/public/favicon.ico
firebase/public/glyphicons-halflings-regular.89889688147bd7575d63.svg
firebase/public/glyphicons-halflings-regular.448c34a56d699c29117a.woff2
firebase/public/glyphicons-halflings-regular.fa2772327f55d8198301.woff
firebase/public/index.html
firebase/public/glyphicons-halflings-regular.e18bbf611f2a2e43afc0.ttf
firebase/public/inline.bundle.js
firebase/public/inline.bundle.js.map
firebase/public/main.bundle.js
firebase/public/glyphicons-halflings-regular.f4769f9bdb7466be6508.eot
firebase/public/main.bundle.js.map
firebase/public/styles.bundle.js.map
firebase/public/polyfills.bundle.js
firebase/public/vendor.bundle.js
firebase/public/polyfills.bundle.js.map
firebase/public/vendor.bundle.js.map
firebase/public/styles.bundle.js
firebase/public/404.html
