<section class="event-list">
  <div class="row event-group">
    <!--header-->
    <div class="header">
      <button class="btn btn-default">오늘</button>
      <span>{{month}}월 {{day}}일 <b>{{dayName}}</b></span>
    </div>
    <div class="col-xs-12 event-item" *ngFor="let event of eventLists">

      <div class="col-sm-2 col-xs-3 begin text-center">{{event.begin | datePipe}}</div>

      <div class="col-sm-8 col-xs-7 title">
        <a target="_blank" href="{{event.url}}">{{event.title}}</a>
      </div>

      <div class="col-xs-2 address text-center">
        <button class="btn btn-warning">{{event.tags[0]}}</button>
      </div>

      <div class="col-sm-offset-2 col-sm-8 col-xs-offset-3 col-xs-7">
        <span class="tags_iterator_div" *ngFor="let tag of event.tags; let i = index">
          <a *ngIf="i>0" href="#" class="btn-danger tag-item">{{tag}}</a>
        </span>
      </div>
    </div>
    <div class="loader" [ngStyle]="{display : isLoaderVisible ? 'inherit' : 'none'}">Loading...</div>

  </div>
</section>
<!--<section class="event-list">-->
<!--<div class="row event-group">-->
<!--&lt;!&ndash;header&ndash;&gt;-->
<!--<div class="header">-->
<!--<button class="btn btn-default">오늘</button>-->
<!--<span>{{month}}월 {{day}}일 <b>{{dayName}}</b></span>-->
<!--</div>-->
<!--<div class="col-xs-12 event-item" *ngFor="let eventList of eventLists">-->

<!--<div class="col-sm-2 col-xs-3 begin text-center">{{eventList.begin | datePipe}}</div>-->

<!--<div class="col-sm-8 col-xs-7 title">-->
<!--<a target="_blank" href="{{eventList.url}}">{{eventList.title}}</a>-->

<!--</div>-->

<!--<div class="col-xs-2 address text-center">-->
<!--<button class="btn btn-warning">{{eventList.tags[0]}}</button>-->
<!--</div>-->

<!--<div class="col-sm-offset-2 col-sm-8 col-xs-offset-3 col-xs-7">-->
<!--<span class="tags_iterator_div" *ngFor="let tag of eventList.tags; let i = index">-->
<!--<a *ngIf="i>0" href="#" class="btn-danger tag-item">{{tag}}</a>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
