<div class="container">
  <section class="event-list">
    <ng-template ngIf="sortedGroupByEventlist.length >= 1">
      <div class="row event-group" *ngFor="let eventList2 of sortedGroupByEventList; let i = index">
        <div class="header">
          <!--<button class="btn btn-default">{{getDday(month, day)}}</button>
          <button class="btn btn-default">내일</button>-->
          <button class="btn btn-default"> D-{{getDday(eventList2[0].begin.split(" ")[0].split("-")[1], eventList2[0].begin.split(" ")[0].split("-")[2])}}</button>
          <span>{{eventList2[0].begin.split(" ")[0].split("-")[1]}}월 {{eventList2[0].begin.split(" ")[0].split("-")[2]}}일 ({{getYoil(eventList2[0].begin.split(" ")[0].split("-")[1], eventList2[0].begin.split(" ")[0].split("-")[2])}})</span>
          <br>
        </div>
        <div class="col-xs-12 event-item" *ngFor="let eventList of eventList2">

          <div *ngIf="eventList.isDeprecated === false">
            <div class="col-sm-2 col-xs-3 begin text-center">{{eventList.begin | datePipe}}</div>
            <a target="_blank" href="{{eventList.url}}">
              <div class="col-sm-8 col-xs-9 title">{{eventList.title}} {{eventList.isDeprecated}}</div>
            </a>
            <div class="col-sm-2 col-xs-3 address text-center">
              <button class="tag-item-location btn btn-warning">{{eventList.tags[0]}}</button>
            </div>
            <div class="col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-9 tag-container">
              <span class="tags_iterator_div" *ngFor="let tag of eventList.tags; let i = index">
                <a *ngIf="i>0" href="#" class="btn-danger tag-item">{{tag}}</a>
                <a *ngIf="eventList.tags.length===1" class="btn-primary tag-item">등록된_태그가_없어요_ㅜㅜㅜ</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <p [@myAwesomeAnimation]='state' (click)="animateMe()">등록된 행사가 존재하지 않습니다.</p>
  </section>
</div>
