<section class="event-list">
  <div class="row event-group">
    <!--header-->
    <div class="header">
      <button class="btn btn-default">오늘</button>
      <span>5월 1일 <b>월요일</b></span>
    </div>
    <div class="col-xs-12 event-item">
      <div class="col-sm-2 col-xs-3 begin text-center">오전 9시</div>
      <div class="col-sm-8 col-xs-7 title">4차혁명과 일자리 변화</div>
      <div class="col-xs-2 address text-center"><button class="btn btn-warning">서초구</button></div>
    </div>
    <div class="col-xs-12 event-item">
      <div class="col-sm-2 col-xs-3 begin text-center">오전 9시</div>
      <div class="col-sm-8 col-xs-7 title">4차혁명과 일자리 변화</div>
      <div class="col-xs-2 address text-center"><button class="btn btn-warning">서초구</button></div>
    </div>
    <div class="col-xs-12 event-item">
      <div class="col-sm-2 col-xs-3 begin text-center">오전 9시</div>
      <div class="col-sm-8 col-xs-7 title">4차혁명과 일자리 변화</div>
      <div class="col-xs-2 address text-center"><button class="btn btn-warning">서초구</button></div>
    </div>
  </div>
</section>
