.hs-main .search .form-group{
  border: solid 1px #FE5454;
  border-radius: 5px;
  padding: 10px;
}

.hs-main .search .form-group input{
  border: none;
  box-shadow: none;
  width: 78%;
  display: inline-block;
  height: 44px;
  padding: 5px;
  font-size: 18px;
}

.hs-main .search .form-group button{
  background-color: #FE5454;
  color: white;
  border: none;
  width: 20%;
  float: right;
}

.hs-main .event-list .header{
  padding: 15px 0;
}

.hs-main .event-list .event-group{
  border-bottom: solid 1px #777777;
}

.hs-main .event-list .event-item{
  padding: 10px;
  border: solid 1px #777777;
  border-bottom: none;
  line-height: 34px;
  vertical-align: middle;
}
