<section class="hs-main">
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <section class="search">
          <div class="col-xs-12">
            <h1>힙스에서 여러분에게 필요한</h1>
            <h1>스타트업 행사들을</h1>
            <h1>찾아보세요.</h1>

            <hr>

            <form action="/">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="띄어쓰기 기준으로 태그화되어 검색됩니다.">
                <button class="btn btn-lg btn-default" type="submit">검색</button>
              </div>
            </form>

            <hr>

          </div>
        </section>

        <section class="trend-tags">
          <div class="col-xs-12">
            <button class="btn-default btn" disabled>트랜딩 태그</button>
            <hr>
          </div>

          <div class="col-xs-12">
            <button class="btn-lg btn-danger">위험</button>
            <button class="btn-lg btn-warning">경고</button>
            <button class="btn-lg btn-primary">기본</button>
            <button class="btn-lg btn-success">성공</button>
          </div>


        </section>
      </div>

      <hr>

      <section class="event-list">
        <div class="row event-group">
          <!--header-->
          <div class="header">
            <button class="btn btn-default">오늘</button>
            <span>5월 1일 <b>월요일</b></span>
          </div>
          <div class="col-xs-12 event-item">
            <div class="col-sm-2 col-xs-3 begin text-center">오전 9시</div>
            <div class="col-sm-8 col-xs-7 title">4차혁명과 일자리 변화</div>
            <div class="col-xs-2 address text-center"><button class="btn btn-warning">서초구</button></div>
          </div>
          <div class="col-xs-12 event-item">
            <div class="col-sm-2 col-xs-3 begin text-center">오전 9시</div>
            <div class="col-sm-8 col-xs-7 title">4차혁명과 일자리 변화</div>
            <div class="col-xs-2 address text-center"><button class="btn btn-warning">서초구</button></div>
          </div>
          <div class="col-xs-12 event-item">
            <div class="col-sm-2 col-xs-3 begin text-center">오전 9시</div>
            <div class="col-sm-8 col-xs-7 title">4차혁명과 일자리 변화</div>
            <div class="col-xs-2 address text-center"><button class="btn btn-warning">서초구</button></div>
          </div>
        </div>
      </section>
      <hr>
    </div>
  </div>
</section>
