<div class="content-wrapper">
  <div class="container">
    <section class="hips-search">

      <div class="floating-header col-xs-12">
        <hips-search-input-2 [ref]="event_list" [ref2]="search_queries"></hips-search-input-2>
        <!--<form action="#">
          <div class="form-group">
            <input type="text"><button>검색</button>
          </div>
        </form> -->

        <hr>

        <ul class="nav nav-pills">
          <li class="active"><a >최근날짜순</a></li>
          <li><a >이번주</a></li>
          <li><a >다음주</a></li>
          <li><a >날짜</a></li>
        </ul>
      </div>
      <div class="contents">
        <hips-event-list #event_list></hips-event-list>
      </div>
    </section>
  </div>
</div>

