._search {
  padding: 50px 0 25px 0;
}
.tag-input, .search-options{
  margin: 7.5px 0;
}

.search-options{
  text-align: center;
}

.floating-calender{
  z-index: 10000;
  width: 30%;
  height: 1px;
  margin: 0 auto;
}
