<section class="search">
  <div class="container">
    <div class="row header">
      <div class="col-xs-12 title">
        <h1 (click)="myClick()"><span>힙스에서</span></h1>
        <h1>모든 스타트업 행사들을</h1>
        <h1>한 눈에 찾아보세요.</h1>
      </div>
    </div>

    <div class="row content">
      <div class="col-sm-9 col-xs-12">
        <rl-tag-input [(ngModel)]="search_queries" [addOnSpace]="true" (addTag)="onAddTag()" (removeTag)="onRemoveTag()" placeholder="태그를 입력하세요." style="width: 100%"></rl-tag-input>
      </div>
      <div class="col-sm-3 col-xs-12" style="height: 52px">
        <button class="btn btn-danger btn-search" style="width: 100%" (click)="navigateToSearch()">검색하기</button>
      </div>
    </div>
  </div>
</section>

