
/*.ng2-tag-input{*/
  /*border: solid 1px #777777;*/
  /*border-radius: 5px;*/
  /*padding: 10px;*/
/*}*/

/*.ng2-tag-input.ng2-tag-input--focused {*/
  /*border-color: #FE5454;*/
/*}*/

/*.search .form-group input {*/
  /*border: none;*/
  /*box-shadow: none;*/
  /*width: 78%;*/
  /*display: inline-block;*/
  /*height: 44px;*/
  /*padding: 5px;*/
  /*font-size: 18px;*/
/*}*/

/*.search .form-group button {*/
  /*background-color: #FE5454;*/
  /*color: white;*/
  /*border: none;*/
  /*width: 20%;*/
  /*float: right;*/
/*}*/

.search{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5554af+3,c146a1+24,db36a4+39,eb5f1a+63,e94643+81 */
  background: #5554af; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5554af 3%, #c146a1 24%, #db36a4 39%, #eb5f1a 63%, #e94643 81%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5554af 3%,#c146a1 24%,#db36a4 39%,#eb5f1a 63%,#e94643 81%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5554af 3%,#c146a1 24%,#db36a4 39%,#eb5f1a 63%,#e94643 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5554af', endColorstr='#e94643',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 100px 0;
}
.search .title{
  padding-bottom: 25px;
}
.search .title h1{
  color: white;
  margin: 7.5px 0;
  /*font-size: 50px;*/
}
